<p class="lead">
“A language that doesn't affect the way you think about programming is not worth knowing.”
― Alan J. Perlis
</p>

<p class="lead">
"A really good language should be both clean and dirty: cleanly designed, with a small core of well understood and highly orthogonal operators, but dirty in the sense that it lets hackers have their way with it....A real hacker's language will always have a slightly raffish character."
- Paul Graham
</p>

<p class="lead">
<a href="/repos">Pull Repo Language Data for polinadotio</a>
</p>