<p class="lead">
“A language that doesn't affect the way you think about programming is not worth knowing.”
― Alan J. Perlis
</p>

<form method='get' action='/repos' class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2"></label>
    <input type="text" class="form-control" name='username' placeholder="octocat">
  </div>
  <button type="submit" class="btn btn-primary">Pull Language Repo Data</button>
</form>