<a href="/repos">Pull Repo Language Data for polinadotio</a>

<div ng-controller="LineController as LineCtrl">
  <canvas id="bar" class="chart chart-bar"
    chart-data="data" chart-labels="labels" chart-series="series">
  </canvas>
</div>