<!DOCTYPE html>
<html lang="en" ng-app="gitStats">
  <head>
    <meta charset="utf-8" />
    <title>Git stats</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

    <script src="/js/jquery.js"></script>
    <script src="/app/app.js"></script>
  </head>
  <body>
    <h2>Git stats</h2>

    <%- body %>

  </body>
</html>