<!DOCTYPE html>
<html>
  <head>
    <title>Git stats</title>
    <script src="/lib/jquery.js"></script>
  </head>
  <body>
    <h2>Git stats</h2>
  
    <%- body %>

    <button class="barChart">Bar Chart</button>
    <div class="title"></div>

    <script>
      $(".barChart").click(function(event) {
        $(".title").text("Hey I clicked a button");
      });
    </script>

  </body>
</html>