<!DOCTYPE html>
<html lang="en" ng-app="gitStats">
  <head>
    <meta charset="utf-8" />
    <title>Github Language Trends</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

    <script src="/js/jquery.js"></script>
    <script src="/app/languages.js"></script>
    <script src="/app/trends.js"></script>
    <script src="/app/pie.js"></script>
    <script src="/app/app.js"></script>
  </head>
  <body>

  <!-- header -->
  <div class="container">
    <div class="page-header">
 <!--      <h1 class="fa fa-github fa-5x"></h1> -->
      <h1>Github Language Trends</h1>
    </div>


    <div class='content'>
    <%- body %>
    </div>
  </div>
    <!-- footer -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted">This MVP brought to you by Polina Soshnin.</p>
      </div>
    </footer>



  </body>
</html>