<!DOCTYPE html>
<html>
  <head>
    <title>Git stats</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/lib/jquery.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
  </head>
  <body>
    <h2>Git stats</h2>
  
    <%- body %>

  </body>
</html>