<p class="lead">Username: <%= user %></p>

<div ng-controller="LineController as LineCtrl">
  <p class="lead"> Overview: repos by language <p>
  <canvas id="bar" class="chart chart-bar"
    chart-data="data" chart-labels="labels" chart-series="series">
  </canvas>
</div>

<div ng-controller="PieController as PieCtrl">
  <p class="lead"> Starred Repos by Language<p>
  <canvas id="pie" class="chart chart-pie"
  chart-data="data" chart-labels="labels">
  </canvas> 
</div>

<div ng-controller="TrendsController as LineCtrl">
  <p class="lead"> Trends of commits by language over time<p>
  <canvas id="line" class="chart chart-line" chart-data="data"
    chart-labels="labels" chart-legend="true" chart-series="series"
    chart-click="onClick">
  </canvas> 
</div>






